<div class="container-fluid">
  <div class="row flex-nowrap">

    <div class="col py-3">
      <div class="container-fluid consignment">
        <div class="divider mt-3"></div>
        <div class="consign-heading">
          <p class="consign-heading-title mb-0">Permit Listing</p>
          <!-- <p class="consign-heading-desc mb-0">Gill Jackson</p> -->

        </div>


        <div class="table-responsive custom-table-mt">
          <div class="w-100 d-flex align-items-center justify-content-end my-2">
            <div class="less24box d-flex align-items-center">
              <div class="c-box"></div>
              <p class="c-title mb-0"> Less than 24 Hours</p>
            </div>
            <div class="box24 d-flex align-items-center mx-4">
              <div class="c-box"></div>
              <p class="c-title mb-0">Greater than 24 Hours</p>
            </div>
            <div class="box48 d-flex align-items-center">
              <div class="c-box"></div>
              <p class="c-title mb-0">Greater than 48 Hours</p>
            </div>
            <div class="box72 d-flex align-items-center mx-4">
              <div class="c-box"></div>
              <p class="c-title mb-0">Greater than 72 Hours</p>
            </div>
          </div>
          <table class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead class="custom-table-dark">
              <tr>
                <th scope="col">Sr. No</th>
                <th scope="col">Name</th>
                <th scope="col">CNIC</th>
                <th scope="col">Phone No.</th>
                <!-- <th scope="col">Address</th> -->
                <th scope="col">City/Country</th>
                <th scope="col">DOB</th>
                <!-- <th scope="col">Professional Trade</th> -->
                <!-- <th scope="col">Old Permit</th> -->
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody id="TableId">
              <tr *ngFor="let arr of PRlist;let i = index">
             
                <th scope="row" [id]="'permitListCol_' + i" [class]="'promt-table-field '+ arr.requestTimeLine">{{i+1}}</th>
                <td>{{arr.personName}}</td>
                <td>{{arr.cnic}}</td>
                <td>{{arr.cellNo}}</td>
                <!-- <td>{{arr.address}}</td> -->
                <td>{{arr.city}}</td>
                <td>{{arr.dateofBirth| date:'dd-MMM-yyyy'}}</td>
                <!-- <td>{{arr.oldPermitNo == 0?'-----':arr.oldPermitNo}}</td> -->
                <td class="promt-table-field">
                  <button (click)="SendPRID(arr.applicationId)" class="submitLiq-btn">Details</button>


                  <!-- <app-permit-detail [ApplicationObj]="arr.applicationId"></app-permit-detail> -->

                </td>
              </tr>



            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>