
        <div class="container-fluid consignment">
        
          <div class="divider mt-3"></div>
          <div class="container-fluid p-0">
            <div class="container m-0 p-0">
              <p class="dashboard-title">Dashboard</p>
              <div class="row flex-wrap">
                <div  class="w-100 d-flex flex-wrap" *ngIf="this.role == 'Vend Shop Operator'">
                  
                <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
                  <div class="box" (click)="StockIn()">
                    <img src="assets/stockin.png" class="img-fluid" alt="">
                    <div class="box-content ps-0">
                      <p class="mb-0 box-content-title">Stock in </p>
                      <p class="mb-0 stock-in-border"></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                  <div class="box" (click)="POS()">
                    <img src="assets/pos.png" class="img-fluid" alt="">
                    <div class="box-content ps-0">
                      <p class="mb-0 box-content-title ">Point of sale</p>
                      <p class="mb-0 pos-border"></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-100 d-flex flex-wrap"  *ngIf="this.role == 'ETI' || this.role == 'ETO'">

            
                <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
                    <div class="box"(click)="PR()">
                      <img src="assets/PR-1.png" class="img-fluid" alt="">
                      <div class="box-content pr-1">
                        <p class="mb-0 box-content-title ">PR-1</p>
                        <p class="mb-0 box-content-desc">PERMIT</p>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="box"(click)="PR()">
                      <img src="../..assets/PR-2.png" class="img-fluid" alt="">
                      <div class="box-content pr-2">
                        <p class="mb-0 box-content-title ">PR-2</p>
                        <p class="mb-0 box-content-desc">PERMIT</p>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
            <!-- <div class="d-flex align-items-center justify-content-center w-100 pos-absolute bottom-0">
                <img src="../..assets/pitb-logo.png" alt="">
                <p class="maker-text mb-0">Powered by Punjab Information Technology Board</p>
              </div> -->
          </div>
        </div>